@model SJGH_Project.Models.Seasonal_Dessese

@{
    ViewBag.Title = "InsertSeasonalDessese";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
}

@section scStyles {
    <link href="~/Content/scThemes/Mehdi.css" rel="stylesheet" type="text/css" />
}

<h2>Insert Seasonal Dessese</h2>

@using (Html.BeginForm("InsertSeasonalDessese", "CMS", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Seasonal_Dessese</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.start_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.start_date)
            @Html.ValidationMessageFor(model => model.start_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.start_time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.start_time)
            @Html.ValidationMessageFor(model => model.start_time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.topic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.topic)
            @Html.ValidationMessageFor(model => model.topic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.description, new { @class = "desc-textarea" })
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.image_url)
        </div>
        <div class="editor-field">
            <input type="file" name="file" />
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "SeasonalDessese")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
